name: Update Asset Data

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install yfinance

      - name: Run update script
        run: python update_data.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add -A  # -A로 하면 새로 생긴 모든 파일(지도 포함)을 싹 긁어갑니다
          git commit -m "Update assets and sitemap" || echo "No changes"
          git push
